*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,
section h2 {
    .bungee-regular 
        font-family: "Bungee", sans-serif;
        font-weight: 500;
        font-style: normal;
}

header {
    padding: 16px 0;
    background-color: rgb(4, 4, 121);
    color: aliceblue;
}

header nav li {
    display: inline;
    margin-left: 16px;
    text-decoration: none;
    font-size: 18px;
}

header nav li a {
    color: beige;
    text-decoration: none;
}

.container {
    max-width: 999px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 15px;

}

.brands-list li {
    display: inline;
    margin-right: 10px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 32px 0;
}

section h2 {
    margin-bottom: 32px;
}

section {
    color: rgb(4, 4, 121);
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;

}